.hidden {
  opacity: 0%;
}
a:hover {
  cursor: pointer;
}

#points-sx {
  -webkit-text-stroke: 2px black;
  font-size: 50px;
  color: #82f562;
  font-weight: bolder;
  text-align: right;
}
#points-dx {
  -webkit-text-stroke: 2px black;
  font-size: 50px;
  color: #ff5757;
  font-weight: bolder;
  text-align: left;
}

.title {
  font-size: 40px;
  text-align: center;
}
.teamname-sx {
  -webkit-text-stroke: 1px black;
  font-weight: bolder;
  color: #82f562;
  text-align: center;
}
.teamname-dx {
  -webkit-text-stroke: 1px black;
  font-weight: bolder;
  color: #ff5757;
  text-align: center;
}

.opposites_card {
  margin: 50px 25% 20px 25%;
  padding: 0;
  width: 50%;
  height: 150px;
}
.opposites_card div {
  width: 50%;
  height: 160px;
  float: left;
  text-align: center;
}
.left_card {
  background-color: #82f562;
  border-radius: 20px 0 0 20px;
}
.right_card {
  background-color: #ff5757;
  border-radius: 0 20px 20px 0;
}
.opposites_card div h3 {
  padding: 20px;
}

.guess {
  text-align: center;
}

.btn {
  margin: auto 0;
}

#outcome {
  margin: 30px;
  padding: 20px;
  text-align: center;
}
#outcome h3 {
  margin: 20px 0;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 25px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
  border-radius: 8px;
    width: 78%;
    margin: 0 11%;
}
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  height: 25px;
  cursor: pointer;
  border-radius: 8px;
    background: blue;
    width: 5px;
    border-radius: 8px;
}


.list-group-item {
  padding: 8px 20px;
}
